<div class="container">
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <h1 class="text-center">Baby Simulator 2017</h1>
      <h3 class="text-center">Design your new baby:</h3>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <div class="text-center">Pick a name:</div>
            <input class="text-center form-control" name="name" [(ngModel)]="name" />
          </div>
        </div>
      </div>
      <div class="row">
        <div *ngFor="let trait of traits">
            <baby-trait [trait]="trait" (trait)="traitChanged" *ngIf="trait"></baby-trait>
        </div>
      </div>
      <div style="padding-top: 15px; margin-bottom: 60px;">
        <button class="btn btn-success btn-block" (click)="giveBirth()">Give Birth</button>
      </div>
    </div>
  </div>
</div>